extends base.pug
block scripts
  script(src='/static/index.js')

block style
  style
      include ../static/style.css  
      include ../static/stylecontact.css  
block content
    h1.aboutCard Abhi Dance Academy
     div
       h2 We are Abhi Dance Academy
        p We teach the best dance classes in the whole universe.
        h2 Dance Classes
        p Since colonial times, there have been dancing masters in America, often itinerant, to teach the art of social dancing. John Playford's The English Dancing Master (1651) is a landmark guide for social dance classes that eventually took root in the United States. William B. DeGarmo wrote The Dance of Society in 1875. Instruction in dancing included instilling the moral and physically corrective aspects of dance.
         
       
           